.k-multiselect[aria-controls="services_listbox"] {
    width: auto !important;
}
.k-multiselect[aria-controls="services_listbox"] .k-input-values {
    max-width: 170px !important;
    height: 28px !important;
}
.k-multiselect[aria-controls="services_listbox"] .k-input-values > span ~ input {
    display: none !important;
}
.k-multiselect[aria-controls="services_listbox"] .k-input-values ~ span {
    display: none !important;
}