.menu {
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #3597d3;
    cursor: pointer;
}
.mdi-menu {
    color: white;
}
.k-tabstrip-top > .k-tabstrip-items-wrapper {
    border-bottom-width: 0;
}
.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-state-active {
    border-bottom-color: #ececec;
    background-color: #ececec;
}
/* #form-debug-pattern,
#form-debug-policy {
    margin: 0 15px;
} */
.k-form > *:not(.k-hidden):first-child,
.k-form > *.k-hidden + :not(.k-hidden) {
    margin-top: 8px;
}
.k-form .k-form-label,
.k-label.k-input-label {
    font-size: 14px;
    padding: 0 0 4px 6px;
}
.k-tabstrip-items .k-link {
    color: #424242;
}
.toolbar-censor {
    border: 0;
}
/* .k-input-md .k-input-inner,
.k-picker-md .k-input-inner {
    padding: 4px 15px;
} */
